version: 0.1.{build}-alpha
pull_requests:
  do_not_increment_build_number: true
skip_branch_with_pr: true
image: Visual Studio 2017
nuget:
  disable_publish_on_pr: true
build_script:
- ps: .\build.ps1
after_build:
- ps: nuget pack $env:APPVEYOR_BUILD_FOLDER\src\Eventus\Eventus.csproj  -Version $env:appveyor_build_version -properties "Configuration=$env:configuration;Platform=AnyCPU;"
test_script:
- ps: >-
    mkdir build

    .\tools\Opencover\OpenCover.Console.exe -register:user -target:".\tools\xunit\xunit.console.x86.exe" -targetargs:".\src\Eventus.Tests.Unit\bin\$env:CONFIGURATION\Eventus.Tests.Unit.dll -noshadow" -output:".\build\coverage.xml" -filter:"+[Eventus*]* -[Eventus]Eventus.Properties.* -[Eventus.Tests.Unit*]* -[Eventus.Samples*]*"

    $env:path = ($env:path -split ";").Where({!($_ -like "*nunit*")}) -join ";"

    "SET PATH=C:\\Python34;C:\\Python34\\Scripts;%PATH%"

    pip install codecov

    codecov -f "build\coverage.xml" -X gcov
artifacts:
- path: Eventus.*.nupkg
- path: build\coverage.xml
deploy:
- provider: NuGet
  server: https://www.nuget.org/api/v2/package
  api_key:
    secure: IjuS8PTdvnV6jLVruUFHFCaOpk4HSH05V5k0D0TRTZRON4Gt9IKK+im3NAjuWs7h
  on:
    branch: master