<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="3.50.2" targetFramework="net461" />
  <package id="AutoFixture.AutoMoq" version="3.50.2" targetFramework="net461" />
  <package id="AutoFixture.Xunit2" version="3.50.2" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="FluentAssertions" version="4.19.2" targetFramework="net461" />
  <package id="Moq" version="4.5.28" targetFramework="net461" />
  <package id="OpenCover" version="4.6.519" targetFramework="net461" />
  <package id="xunit.abstractions" version="2.0.1" targetFramework="net461" />
  <package id="xunit.core" version="2.2.0" targetFramework="net461" />
  <package id="xunit.extensibility.core" version="2.2.0" targetFramework="net461" />
  <package id="xunit.extensibility.execution" version="2.2.0" targetFramework="net461" />
  <package id="xunit.extensions" version="1.8.0.1549" targetFramework="net461" />
  <package id="xunit.runner.console" version="2.2.0" targetFramework="net461" developmentDependency="true" />
</packages>