@model Eventus.Samples.Core.Commands.WithdrawFundsCommand

@{
    ViewData["Title"] = "Withdrawal";
}

<h2>Withdrawal</h2>

<form asp-action="Withdrawal">
    <div class="form-horizontal">
        <h4>Deposit</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AggregateId" />
        <div class="form-group">
            <label asp-for="Amount" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Withdrawal" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="BankAccount">Back to My Account</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
